* {
  box-sizing: border-box;
}

/*Setting the general styling for the body*/
body {
  font-family: 'Montserrat';
  font-size: 18px;
  color: #313131;
  background-color: #E6E6FA;
}

/*Styling the header with textual info */
.shapka {
  float: right;
  width: 75%;
  padding: 1.5em;
  height: auto; 
  text-align: justify;
}

.generalinfo {
  font-size: 0.8em;
}

/*Styling the menu*/
#topul { 
  text-align: left; 
}

#topli { display: inline-block;
     margin: 0.1em;
     padding: 0.5em;
     font-size: 100%;
   }

li {
  margin: 0;
  padding: 1em;
  list-style: none;
}

/*Adding hover effects for the menu */
a.superlink {
  position: relative;
  text-decoration: none;
  font-family: Montserrat;
  color: #313131;
  /*font-size: 18px;*/
  /*letter-spacing: 0.5px;
  padding: 0 10px;*/
}

a.superlink:visited{
  color:#a17ae6;
}

a.superlink:after {
  content: "";
  position: absolute;
  background-color: #8d5abf;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -12px;
  transition: 0.3s;
}

a.superlink:hover {
  color: #8d5abf;
}

a.superlink:hover:after {
  width: 100%;
}

/*Styling the photo */
.photka {
  float: right;
  width: 25%;
  padding: 1.70em;
  height: auto; 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 12em;
}

/*Styling an image */
.skyeng {
  padding: 2em;
}


/* Creating columns */
.column {
  float: left;
  width: 33.33%;
  padding: 2em;
  height: auto;
}

/*Styling the paragraphs*/
.schoolyears, .uniyears, .job, .hobby {
  font-size: 0.75em;
  text-align: justify;
}


/* Clearing the floating*/
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Styling the footer */
.footer {
  background-color: #E6E6FA;
  padding: 1.5em;
  text-align: center;
  height: 12em;
}

/* Responsive layout*/
@media (max-width: 600px) {
  .column {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .shapka {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .photka {
    width: 100%;
  }
}

/* Styling the slideshow and photos */
.nu, .slideshow1, .slideshow2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
}

/*Styling the quote */
.quote {
  padding:  2em;
}

/*Styling the footer*/
.contacts {
  text-align: center;
  padding: 0.2em;
  font-size: 1em;
}

/*Styling the unordered list*/
li.hobby {
  font-size: 0.795em;
  font-style:  italic;
  font-weight: bold;
}
